html {
font-family: Ubuntu, Arial, Sans;
}

input {
margin: 10px;
border: none;
}

body {
background-color: #cddeff;
}

h3 {
font-family: Ubuntu, Helvetica,Sans;
font-size: large;
}

div {
border-radius: 0.3em;
}

#submit {
border-radius: 0.3em;
background-color: #001;
color:#666;
}
#btnsubmit {
border-radius: 0.3em;
background-color: #001;
color:#666;
}
.buttons {
  border-radius: 0.3em;
  background-color: #001;
  color:#666;
}

th {
text-align:left;
padding: 0em 2em 1em 0em;
}

td {
text-align:left;
padding: 0em 2em 0em 0em;
}

a {
font-family: Sans;
font-size: 0.8em;
font-style: italic;
color: #005;
}
